<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="layouttable.contoh.macammacamburunghias">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/title_activity_menu" />
        <activity
            android:name=".Kacer"
            android:label="@string/title_activity_kacer" />
        <activity
            android:name=".webView"
            android:label="@string/title_activity_web_view" />
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info" />
        <activity
            android:name=".Kenari"
            android:label="@string/title_activity_kenari" />
        <activity
            android:name=".Kacamata"
            android:label="@string/title_activity_kacamata" />
        <activity
            android:name=".Cucakrowo"
            android:label="@string/title_activity_cucakrowo" />
        <activity
            android:name=".Branjangan"
            android:label="@string/title_activity_branjangan" />
        <activity
            android:name=".Ciblek"
            android:label="@string/title_activity_ciblek" />
        <activity
            android:name=".Jalaksuren"
            android:label="@string/title_activity_jalaksuren" />
        <activity
            android:name=".Cucakhijau"
            android:label="@string/title_activity_cucakhijau" />
        <activity
            android:name=".Pancawarna"
            android:label="@string/title_activity_pancawarna" />
        <activity
            android:name=".Tledekan"
            android:label="@string/title_activity_tledekan" />
        <activity
            android:name=".Aniskembang"
            android:label="@string/title_activity_aniskembang" />
        <activity
            android:name=".Anismerah"
            android:label="@string/title_activity_anismerah" />
        <activity
            android:name=".Muraibatu"
            android:label="@string/title_activity_muraibatu" />
        <activity
            android:name=".Pentet"
            android:label="@string/title_activity_pentet" />
        <activity
            android:name=".Gelatik"
            android:label="@string/title_activity_gelatik" />
        <activity
            android:name=".Kolibri"
            android:label="@string/title_activity_kolibri" />
        <activity
            android:name=".Cipoh"
            android:label="@string/title_activity_cipoh" />
        <activity
            android:name=".Lovebird"
            android:label="@string/title_activity_lovebird" />
        <activity
            android:name=".Trucukan"
            android:label="@string/title_activity_trucukan" />
        <activity
            android:name=".Cucakjenggot"
            android:label="@string/title_activity_cucakjenggot" />
        <activity
            android:name=".Platuk"
            android:label="@string/title_activity_platuk"></activity>
    </application>

</manifest>